@charset "utf-8";

@font-face {
    font-family: droid;
    src: url('fontes/idroid.otf') format('opentype');
    font-weight:normal;
    font-style: normal;
}

*{
    margin:0px;
}

.videos{
    position: relative;
    margin:10px auto;
    background-color:#1B5936 ;
    padding: 20px;
}

iframe{
    display:block;
    margin: auto;
}

a{
    color:#1D5235;
    font-weight: bold;
    text-decoration: none;
}

body{
    background-color: #84e0ad;
}

main{
    background-color: white;
    width:60%;
    margin:0px auto;
}

article{
    padding: 20px 20px;
    margin:0px;
}

body>header{
    padding: 5px 15px;
    background-image: linear-gradient( to bottom,#13f77a, #0c8040 8%,#0e4125 14%);
    background-attachment: fixed;
    font: normal 20px Courier, sans-serif; 
    text-align: center;
    color: white;
}

header>h1{
    font: bold 3em Georgia, Helvetica, serif; 
}

nav{
    text-align: left;
    margin-top:15px
}

nav>a{
    text-decoration: none;
    font: normal 1em Arial;
    color: white;
    margin-right:10px;
}

nav>a:hover{
    text-decoration: underline;
}

p{
    font: normal 1em Arial, sans-serif;
    text-indent: 20px;
    text-align: justify;
}

article>h1{
color:#1D5235;
font:normal 1.8em droid;
text-align: left;
margin: 10px 0px;
}

section>h2{
color:#1D5235;
font:normal 1.3em droid;
text-align: left;
margin: 10px 0px;
background-color: #a9f2c751;   
}

img{
    display:block;
    width:40em;
    margin: 20px auto;
    height:10em;
}

img#bugdroid{
    width:30em;
    height: 10em;
    margin: auto;
}

aside{
    margin:20px auto;
    background-color: #CEF2DE;
    border-radius: 25px;
}

aside>header{
    padding:10px;
    font: bold 0.9em Arial;
    color: white;
    border-radius: 25px 25px 0px 0px;
    background-color: #32A65A;
}

aside>p{
    margin: 10px 10px;
    padding: 8px;
}

ul{
    display: inline-block;
    margin: 10px auto;
    list-style-image: url('imagens/list-icon.ico');
}
ul#coluna{
    margin-left:180px;
}

footer{
    height:40px;
    background-color: #1B5936;
    padding:10px;
}

footer>p{
    text-indent: 0px;
    text-align: center;
    font: normal 0.8em sans-serif;
    color: white;
}
