@charset "utf-8";

@font-face {
    font-family: droid;
    src: url('fontes/idroid.otf') format('opentype');
    font-weight:normal;
    font-style: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

:root{  /*VARIAVEIS EM CSS SÃO FUNDAMENTAIS PARA MANUTENÇÃO DE PROJETOS!!!, DECLARAMOS AS VARIAVEIS GLOBAIS NA PSEUDOCLASSE :ROOT*/
    --cor0: #c5ebd6;
    --cor1: #83e1ad;
    --cor2: #3ddc84;
    --cor3: #2fa866;
    --cor4: #1a5c37;
    --cor5: #063d1e;
    --fonte0: Arial, Helvetica, sans-serif;
    --fonte1: "Bebas Neue", cursive;
    --fonte2: 'droid', sans-serif;
    
}
/*LAYOUT RESPONSIVO - ADAPTAR CONTEUDO E IMAGENS A TODOS OS TAMANHOS DE TELA AUTOMATICAMENTE - EVITAR TANTO QUANTO POSSIVEL ROLAGEM LATERAL*/
*{
    margin:0px;
}

div.videos{
    margin: 0px -20px;
    background-color: var(--cor4);
    padding:30px 0px;
}

div.videos>iframe{
    margin: auto;
    display: block;
    width:100%;
}

.link_ext::after{
    content:"\1F517" /*para HTML  &#x1F517  para CSS  \1F517*/
}

.destaque{
    color:var(--cor5);
    font-weight: bold;
}

a{
    color: var(--cor5);
    font-weight: bold;
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

body{
    background-color: var(--cor2);
}

main{
    background-color: white; 
    /*prática de resposividade básica - não definir tamanho absoluto das imagens e do container do conteudo, seja main, article, section, div, etc..
    DEFINIR somente os limites maximo e minimo, deixando o conteúdo se adaptar a depender da tela
    max-width:1200px;
    min-width:320px;
    height --> não precisa se preocupar tanto, pois rolagem vertical é normal
    */

    max-width: 900px; /*tamanho máximo bom - 1200px*/
    min-width: 280px; /*320px é o tamanho de tela celular antiga, bom limite minimo - mas temos que considerar os paddings*/
    margin:0px auto 50px auto;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.405);
}

article{
    padding: 20px 20px;
}

header{
    padding: 20px;
    background-image: linear-gradient( to bottom, var(--cor2),var(--cor5)20%); /*duas cores apenas, assim ele vai da primeira cor a ultima*/
    background-attachment: fixed;
    min-height: 150px;
}

header>h1{
    text-align: center;
    color: white;
    font: bold 3em var(--fonte2); 
    text-transform:uppercase;
    text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.507);
    margin: 15px auto;
}

header>p{
    font: normal 20px var(--fonte0); 
    margin:auto;
    text-align: center;
    color: white;
    text-indent: 0px;
    max-width:500px;
}

nav{
    text-align: left;
    background-color: var(--cor5);
    height:30px;
    padding:20px 10px 0px 10px;
    font-family: var(--fonte0);
}

nav>a{
    text-decoration: none;
    color: white;
    margin-left:10px;
    padding:10px;
    border-radius: 5px;
    font-weight: bold;
}

nav>a:hover{
    text-decoration: underline;
    background-color: var(--cor4);
    transition-duration: 0.4s;
}

p{
    font: normal 1.2em var(--fonte0);
    text-indent: 20px;
    text-align: justify;
    line-height: 2em;
    margin: 15px 0px;
}

section>h1{
color:var(--cor4);
font:normal 1.8em var(--fonte2);
text-align: left;
margin: 25px 0px;
}

/*se vc não indicar o parentesco, ele vale para qualquer elemento y que est dentro do elemento x, dessa forma
x y {
....
}
*/
main h2{
color:var(--cor4);
font:normal 1.3em var(--fonte2);
text-align: left;
margin: 20px 0px;
background-color: var(--cor0);   
}

img{
    display:block;
    margin: 20px auto;
    width:100%; /*ocupar todo o container*/
}
img#bugdroid{
    max-width: 305px;
}

aside{
    margin:20px auto;
    background-color: var(--cor0);
    border-radius: 25px;
    padding: 20px;
}

aside>h2{
    padding:10px;
    font: bold 1em var(--fonte0);
    color: white;
    border-radius: 25px 25px 0px 0px;
    background-color: var(--cor4);
    margin: -20px -20px 20px -20px ; /*valor negativo no margin faz ele sobrepassar o padding do parent*/
}

ul{
    margin: auto;
    /*o marcador pode ser editado como imagem ou por código css, usando list-style-type: '\2174\0020\0020';*/
    list-style-image: url('imagens/list-icon.ico');
    columns: 2; /*MELHOR FORMA DE DAR COLUNA A LISTAS*/
    list-style-position: inside; /*marcadores dentro do block do list item*/
}

/* FIZ ASSIM DA PRIMEIRA VEZ ANTES DE VER COMO CONSTRUIR COLUNAS NA LISTA, COMO FEITO NO SELETOR ACIMA
div#coluna1{
    display: inline-block;
    max-width: 300px;
    max-height: 300px;
    margin: 25px 100px;
}

div#coluna2{
    display: inline-block;
    max-width: 300px;
    max-height: 300px;
    margin: 25px 100px;
}*/

footer{
    height:30px;
    background-color: var(--cor5);
    padding:10px;
}

footer>p{
    text-indent: 0px;
    text-align: center;
    font: normal 0.7em sans-serif;
    color: white;
    margin: 0px;
    line-height: 1.5em;
}
/*se vc não indicar o parentesco, ele vale para qualquer elemento y que est dentro do elemento x, dessa forma
x y {
....
}
*/

footer a{
 color:white;
}
footer a:hover{
 text-decoration: underline;
}
